<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/bootstrapCSS') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="m-4">
        <figure>
        <blockquote class="blockquote">
            <p><%- blog.title %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
            by <cite title="Source Title"><%- blog.createdBy.name %></cite>
        </figcaption>
        </figure>
        <div class="mb-3">
            <img src="<%- blog.coverImage %>" class="img-fluid" alt="Cover Image">
        </div>
        <div class="mb-3">
            <pre><%- blog.body %></pre>
        </div>
        <h2>Comments</h2>
        
        <% if (user) { %>
            <form action="/blog/comment/<%- blog.id %>" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="<%- user.name %>" aria-label="<%- user.name %>" aria-describedby="button-addon2" name="comment">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Comment</button>
                </div>
            </form>
        <% } %>
        <% comments.forEach(comment => { %>
            <h3><%- comment.user.name %></h3>
            <pre><%- comment.content %></pre>
        <% }) %>
    </div>
    <%- include('./partials/bootstrapScript/') %>
</body>
</html>
