<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/bootstrapCSS') %>
    <title>Document</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <% if (blogs && blogs.length) { %>
    <h2 class="ms-4 modal-title" >Blogs</h2>
    <div class="d-flex">
      <% for( let index = 0; index < blogs.length; index++ ) { %>
        <div class="card m-4" style="width: 18rem;">
          <img src=<%- blogs[index].coverImage %> class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%- blogs[index].title %></h5>
            <p class="card-text"><%- blogs[index].body %></p>
            <a href="" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
  <%- include('./partials/bootstrapScript') %>
</body>
</html>